#ana {
	width:1020px;
	height:700px;
	margin:auto;
	background-color:#FFF;
	}

#ust {
	width:1020px;
	height:350px;
	background:url(../resim/6005441-44.jpg) center no-repeat;
	}

#menu {
	width:1020px;
	height:34px;
	background-color:#293231;
	}

	
#sag {
	float:right;
	width:1020px;
	height:320px;
	background-color:#CCC;
	color:black;
	}
	

	
	
	


	
	

